*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
@mixin fn($width:100%,$height:100%) {
    width:$width;
    height: $height
}
$fontsize:37.5px !default; 

@function fn($font){
    @return $font/$fontsize *1rem
}
body,html{
    @include fn;
}
.wrap{
    @include fn;
    .item{
        @include fn(100%,200px);
        margin: 10px  0;
        border-bottom: 1px solid #ccc;
        dl{
            @include fn;
            display: flex;
            dt{
                padding:fn(20px);
                flex: 2;
                img{
                    @include fn
                }
            }
            dd{
                padding:fn(20px);
                flex: 5;
                h5{
                    margin: fn(20px) 0;
                }
                span{
                    display: block;
                    margin: fn(20px) 0;
                }
                li{
                    color: red;
                    margin: fn(20px) 0;
                }
                .count{
                    @include fn(100px,30px);
                    display: flex;
                    div{
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid #ccc;
                    }
                }
            }   
        }
    }

}